section {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  padding: 2rem;
  border-radius: 1rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
