main {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'nav-back header'
    'nav-menu content';
  gap: var(--space-xl);
  padding: var(--space-l);
}

.back-link {
  grid-area: nav-back;
  display: flex;
  align-self: baseline;
  gap: var(--space-s);
  text-decoration: none;
  color: var(--c-body);
  font-weight: 500;
}

h1 {
  grid-area: header;
  align-self: baseline;
}

.content {
  grid-area: content;
}

a {
  display: block;
  text-decoration: none;
  color: var(--c-bodyDimmed);
  font-weight: 500;
  width: 100%;
  border-radius: var(--radius);
  padding: var(--space-s) var(--space-m);
  height: 100%;

  &:hover {
    filter: brightness(1.1);
  }

  &.active {
    background-color: var(--c-overlay);
    color: var(--c-body);
    font-weight: 700;
  }
}
nav {
  margin-top: var(--space-2xl);
  grid-area: nav-menu;
  width: 100%;

  & ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  & li {
    margin-bottom: 0.5rem;
  }
}
