section {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    'nav-back header'
    'nav-menu content';
  gap: 1rem;
}

.back-link {
  grid-area: nav-back;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--gray-900);
  font-weight: 600;
}

h1 {
  grid-area: header;
  margin-bottom: 2rem;
}

.content {
  grid-area: content;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  width: 100%;
  border-radius: 4rem;
  padding: 0.5rem 1rem;
  height: 100%;

  &:hover {
    background-color: #f0f0f0;
  }

  &.active {
    background-color: #007bff;
    color: white;
  }
}
nav {
  grid-area: nav-menu;
  width: 100%;

  & ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  & li {
    margin-bottom: 0.5rem;
  }
}
