section {
  padding: 4rem;
}

h1 {
  margin-bottom: 2rem;
}

.split {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

nav {
  width: 250px;
}

nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

nav li {
  margin-bottom: 0.5rem;
}

nav a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  width: 100%;
  border-radius: 4rem;
  padding: 0.5rem 1rem;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav a.active {
  background-color: #007bff;
  color: white;
}
