footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--c-bodyDimmed);
  font-size: var(--text-s);
}

div {
  padding-top: var(--space-4xl);
  min-height: 100dvh;
}

.logout-btn {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  color: var(--c-bodyDimmed);
}
