main {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
  color: var(--gray-700);
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  gap: 1rem;
}

.divider {
  width: 2px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}

.pill-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
  white-space: nowrap;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.pill-group .pill:nth-child(6n + 1) {
  --pill-accent: var(--bright-blue);
}
.pill-group .pill:nth-child(6n + 2) {
  --pill-accent: var(--electric-violet);
}
.pill-group .pill:nth-child(6n + 3) {
  --pill-accent: var(--french-violet);
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    gap: 1.5rem;
  }

  .divider {
    width: 100%;
    height: 2px;
    margin: 0;
  }
}
