footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--gray-700);
  font-size: 0.875rem;
}

main {
  padding-top: 8rem;
}

.logout-btn {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  color: var(--gray-700);
}
