form {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.form-row {
  display: flex;
  gap: var(--space-l);
}

.form-group {
  flex: 1;

  & label {
    margin-bottom: var(--space-s);
  }
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--text-s);
  margin-top: var(--space-l);
}
